.app {
  /* text-align: center; */
  background-color: #121212;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.app__body {
  display: flex;
  /* margin-top: 22px; */
  width: 100%;
  /* max-width: 700px; */
  /* height: 100vh; */
  color: white;
}